* {
    padding: 0;
    margin: 0;
}

.foto {
    width: 100px;
    height: 50px
}

.kortingsbanner {
    text-align: center;
    padding: 30px;
    width: 1280px;
    height: 300px;
}

.logo {
    float: left;
    padding-left: 8px;
    padding-top: 8px;
}

.winkelmand {
    float: right;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
}

.home {
    font-weight: bold;  
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.overOnsPagina {
    text-align: center;
}

.HSknop {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    height: 18px;
    line-height: 18px;
    color: #00AEFF;
    width: 90px;
    font-size: 38px;
    font-weight: 100;
    padding: 38px;
    background-color: #FFFFFF;
    border: solid #00AEFF 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    }
    
    .HSknop:hover {
    background: #00AEFF;
    border: solid #00AEFF 2px;
    color: #FFFFFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    }

.foutmeldingen{
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid #ff0000;
    border-radius: 2px;
    list-style: none;
    padding: 0.5em;
    margin: 0.5em 0;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #00AEFF;
}
.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
    color: #00AEFF;
    border: solid #00AEFF 2px;
}
.btn-outline-primary:hover {
    background-color: #00AEFF;
    color: #FFFFFF; 
    border: solid #00AEFF 2px;
}